include mixins.pug

doctype html
html(lang="en").h-100
  head
    title About Software Garden
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include icons.pug
    link(
      rel="manifest"
      href="./manifest.webmanifest"
    )

    meta(
      property="og:title"
      content="About Software Garden"
    )
    meta(
      property="og:image"
      content="../assets/helloquence-61189-unsplash.jpg"
    )
    meta(
      property="og:description"
      content="We are a group of IT professionals driven by a set of shared values and concerns."
    )
    meta(
      property="og:url"
      content="/about-us.html"
    )

  body.d-flex.flex-column.h-100
    header
      +navbar("about us")

      .container
        .row
          .col-lg-12.p-3.p-lg-5
            p.lead.text-center.narrow
              | We are a community of #[strong software professionals] based in Eu&shy;ro&shy;pe (Am&shy;ster&shy;dam, Ut&shy;recht and Bonn) driven by a set of #[strong shared values, principles and concerns]. Our members offer consulting, coaching and similar services. We pride ourselves for #[strong reducing risk] in software development and bringing a #[strong high rate-of-return] to our clients.

    section#members.bg-red.pb-3
      .container.wider
        .row
          .col-lg-12
            h2 Meet the Team
          .col-lg-4.col-md-6.col-sm-12.my-4
            h3 Tad Lispy

            p
              | I used to work as a lawyer (consumer protection), real estate
              | agent and for the past 8 years a software developer. I
              | successfully built software for a big public institution (the
              | District Court of Law in Warsaw), startups and businesses in
              | Poland and the Ne&shy;ther&shy;lands. I care about happiness and
              | efficiency in work.

          .col-lg-4.col-md-6.col-sm-12.my-4
            h3 Sam Phillips

            p
              | I am a software developer with 6 years experience building useful
              | software for companies of various sizes. I’ve also worked in
              | community development, where I learned about cultivating healthy
              | relationships with people of different backgrounds and interests.
              | Studying philosophy taught me to always ask ‘why?’

          .col-lg-4.col-md-6.col-sm-12.my-4
            h3 Fana Mehari

            p
              | By education I am a Marine Spatial Planner but since moving to the
              | Netherlands I transitioned to an IT career. I like working with
              | both people and data. At Software Garden I am a community manager.
              | Previously I've been living, studying and working in Eritrea,
              | Sudan, China and 5 European countries.

    main.container
      .row
        .col-lg-12
          h2 Our Values

          p
            | We value #[strong human dignity], #[strong social security] and
            | #[strong the environment]. That's why we build
            | #[strong quality products] that respect the users, give them joy
            | and are built to last.
            | We believe that work should bring fulfillment and that workers
            | should participate in fruits of their labor.

          p
            | What concerns us is extreme and growing inequality, destruction of
            | the environment, polarization of opinions and erosion of political
            | dialog.

          p
            | Technology should enable access to information, facilitate
            | meaningful dialog, help people make responsible choices for
            | their health, communities and the environment, and reduce waste in
            | terms of energy, human effort and materials.

          p
            | Learn more about digital ethics and join our discussions at
            | #[a(href="https://ethical.software.garden/") Ethical Software Garden].



        .col-lg-12
          h2 What's the plan

          p
            | We want to create a European cooperative of like-minded IT professionals, including software developers, designers, mechanical and electrical engineers, writers and artists and develop high quality products that reflect our values and respect the rights of their users.
          p
            | We are for profit and intend to distribute profit among the members of the coop. We intend to create a business framework that allows us to work in the spirit of the #[a(href="https://en.wikipedia.org/wiki/Free_software_movement") free software movement].
          p
            | We want this cooperative to be big, to enable as many people as possible to work in a happy and frustration-free environment. However, we understand that we need
            | to grow it intentionally to nurture the values and culture outlined above.
          p
            | These are not easy constraints to solve and we don't have all the
            | answer yet. We are and will always remain engaged in dialog both within the coop and with partners to
            | find the right solutions.

    include footer.pug

    script(src="index.coffee")
    include analytics.pug
