div.row.colorful.shadow
  div.container
    section.row.px-3#what
      div.col-lg-12
        h2 Our offer

      div.col-lg-3.col-md-6.col-sm-12.my-4
        h3 Challenge your assumptions

        p There's nothing more wasteful than an excellent execution of the wrong idea. We'll help you understand and realize the opportunities that exist for your business.


      div.col-lg-3.col-md-6.col-sm-12.my-4
        h3 Experiment quickly

        p Rapidly prototype web and mobile apps or internal tools. We commit to deliver a #[strong working, useful software] that creates real business value in just 6 weeks.


      div.col-lg-3.col-md-6.col-sm-12.my-4
        h3 Incremental development

        p
          | As time goes on two #[strong things change]: circumstances and our
          | understanding. That's why after every cycle we take a step back to discuss
          | where we are now.


      div.col-lg-3.col-md-6.col-sm-12.my-4
        h3 Reliable support

        p We will provide you with support including #[strong training], #[strong consultation] and #[strong fixing defects].


section.row#why
  div.col-lg-12
    h2 Why should you choose us? #[small.text-muted Our Guiding Principles]

    :markdown-it Our methods are optimized for **stakeholder satisfaction and low risk**. They are **proven to work** by us and many **leading industry experts**. We are heavily inspired by practitioners like Dave Farley, the author of _Continuous Delivery_ and _Modern Software Engineering_, and Ryan Singer and his amazing book _Shape Up: Stop Running in Circles and Ship Work that Matters_.


  div.col-lg-12
    h3 We will work with you

    p
      | We are two multidisciplinary entrepreneurs and you will work directly with us.
      | No unnecessary intermediaries. Together with you we analyze the problem and
      | implement the solution in front of you. Nothing should be lost in translation.


  div.col-lg-12
    h3 Outcome over output

    p
      | In other words: business value over features. Many software developers will
      | promise you a lot of features. We think it’s silly. What matters is not features
      | but how your business benefits from the solution.


  div.col-lg-12
    h3 Dedication

    p
      | We have skin in this game. We build our own company from scratch and every
      | client is very important to us. That’s what will guarantee our highest
      | dedication to making you happy.


  div.col-lg-12
    h3 Low risk

    :markdown-it
      Every tech project involves risk. It's in the nature of the undertaking. We mitigate it in three ways. We work in **short iterations** with **fixed, reasonable budget**.  We **share the risk with you fairly**. The costs are spread out in several installments and the majority of the **payment is conditional on your satisfaction** with the products delivered.

  div.col-lg-12
    h3 No-nonsense

    p
      | The process is designed to cut out all time wasting ceremonies. We focus on
      | three things only:

    ol
      li Understanding where your business value is.
      li Developing products to unlock this value.
      li Analyzing the results.


section.row#how
  div.col-lg-12
    h2 How to start and stay in the loop? #[small.text-muted Our process at a glance]

  div.col-lg-12.d-flex.justify-content-center#diagram
    // Use draw.io viewer for the diagram
    include software-garden-process.svg

  div.col-lg-12
    p: a(
      href = "../assets/software-garden-process.pdf"
      title = "Software Garden process"
    ) Download as PDF
