include mixins.pug

doctype html
html(lang="en").h-100
  head
    title The Agile Dashboard
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include icons.pug
    link(
      rel="manifest"
      href="./manifest.webmanifest"
    )
    meta(
      property="og:title"
      content="The Agile Dashboard"
    )
    meta(
      property="og:image"
      content="url:../assets/agile-dashboard-photo.jpeg"
    )
    meta(
      property="og:description"
      content="Here's a little something we use at Software Garden every day to stay asynchronous, distributed and agile. We complement the wonderful tools provided by GitLab with our own Dashboard."
    )
    meta(
      property="og:url"
      content="https://software.garden/dashboard"
    )

  body.d-flex.flex-column.h-100
    header
      +navbar("agile dashboard")

    main.container.my-5
      .row
        .col-lg-4.col-md-6.col-sm-12
          video.mobile(
            controls="false"
            autoplay="true"
            loop="true"
            muted="true"
          )
            each width in [ 540, 360, 270, 180 ]
              source(
                type="video/mp4"
                media=`screen and (min-width: ${ width }px)`
                src=`../assets/dashboard-on-fairphone-4-${ width }.mp4`
              )

        .col-lg-8.col-md-6.col-sm-12
          p.lead
            | Here's a little something we at #[strong Software Garden] use every day to stay asynchronous, distributed and #[strong agile]. We complement the wonderful tools provided by GitLab with our own #[strong Dashboard].

          a.btn.btn-primary.btn-lg.btn-block(href="https://calendly.com/software-garden/30min") Schedule a Demo

          :markdown-it

            ## The Why

            We are a small, distributed and asynchronous company ✋ ✋🏻 ✋🏼 ✋🏽 ✋🏾 ✋🏿

            We have and want to maintain:

            - Agile workflow (people and interactions over processes and tools)
            - Freedom and trust in teammates + strong discipline and cohesion as a team
            - Flexibility - ease of experimentation in workflow
            - Intentional meetings and tangible discussions

            ## The Dashboard

            Key features:

            - Overview of ongoing discussions in GitLab issues
            - Recently done work (commits, deployments, content marketing, sales)
            - Lightweight work scheduling backed with markdown files and Git
            - Scratchpad for pairing
            - Time tracking and billing
            - Mobile friendly (PWA)
            - Mobile app?
            - Email newsletter every week
            - iCal export
            - Chart KPIs (commit and deployment frequency, error rates, cash flow)

          p Would you be interested in such a tool to support workflow in your team? We would love to open-source it if there is interest in the community. Please #[a(href="https://calendly.com/software-garden/30min") schedule a call] and tell us about your use-case.


    include footer.pug

    script(src="index.coffee")
    include analytics.pug
