footer.footer.mt-5.p-5.bg-dark.text-white
  .container: .row
    .col-12.pb-5
      h4 Who are we?

      p The Software Garden is an informal community of professionals based in western Europe. Our members offer consulting, coaching and similar services in the area of software development. We intend to operate as a company or a cooperative once we find a promising market strategy. Until then we are a forum for collaboration and learning. Learn more #[a(href="./about-us.pug") about us, our goals and guiding principles].

    .col-lg-4
      dl
        dt Tad Lispy
        dd: a(href="https://tad-lispy.com") tad-lispy.com
        dd +31 626 259 386

    .col-lg-4
      dl
        dt Sam Phillips
        dd: a(href="https://samrphillips.com") samrphillips.com
        dd +42 1523 3593368

    .col-lg-4
      dl
        dt Fana Mehari
        dd: a(href="https://jewiet.com") jewiet.com

    .col-lg-12
      p (c) 2022 Software Garden; #[a(href="./privacy.pug") Privacy Policy]
