include mixins.pug

doctype html
html(lang="en").h-100
  head
    title Software Garden
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include icons.pug
    link(
      rel="manifest"
      href="./manifest.webmanifest"
    )
    meta(
      property="og:title"
      content="Software Garden for Investors"
    )
    meta(
      property="og:image"
      content="url:./images/force-majeure-marble-staircase.jpeg"
    )
    meta(
      property="og:description"
      content="We help developers build the right products fast"
    )
    meta(
      property="og:url"
      content="https://software.garden/for-investors"
    )

  body.d-flex.flex-column.h-100.justify-content-between
    header
      +navbar("for investors")

    .container
      .row
        .col-lg-12.p-lg-5.lead.text-center
          p A great investor can make a startup 400% more likely to move from seed to series A. #[br] We want to help you be #[em that] investor. Help us learn how.

          a.btn.btn-primary.btn-lg(href="https://calendly.com/software-garden/30min") Let's have a talk

        .col-lg-12
          p We are #[strong software professionals] focused on #[strong rapid prototyping] and product experimentation, #[strong time to quality ratio] and work culture in software development. We pride ourselves for #[strong reducing risk] and bringing a #[strong high rate of return] to our clients.

          p We want to learn from you #[strong how can we help] the companies in your portfolio thrive.

    include footer.pug

    script(src="index.coffee")
    include analytics.pug
