include mixins.pug

doctype html
html(lang="en").h-100
  head
    title Software Garden
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include icons.pug
    link(
      rel="manifest"
      href="./manifest.webmanifest"
    )
    meta(
      property="og:title"
      content="Software Garden for Software Professionals"
    )
    meta(
      property="og:image"
      content="url:./images/christina-wocintechchat-refactoring-unsplash.jpg"
    )
    meta(
      property="og:description"
      content="Software Garden is a forum for learning and collaboration for software professionals. We are all about efficiency and happiness at work."
    )
    meta(
      property="og:url"
      content="https://software.garden/for-professionals"
    )

  body.d-flex.flex-column.h-100.justify-content-between
    header
      +navbar("for professionals")

    .container
      .row
        .col-lg-12.lead
          p We are building a platform for software professional to connect as teams and work together. As a professional, you get to work with people you've hand picked. The client gets a cohesive team of professionals that work together well and have complimentary skills.

          a.btn.btn-primary.btn-lg(href="https://calendly.com/software-garden/30min") Schedule a video call to learn more

        .col-lg-12
          p Currently we are doing a market research to figure out what features should our platform offer. It would help us greatly to hear from you. Many things remain to be decided, but we already know that this platform will function as a cooperative. All professionals working on our platform become members and co-own the platform. Profits from work will be split between the team that did the work and the coop, where it will be invested back in the community.


    include footer.pug

    script(src="index.coffee")
    include analytics.pug
