include mixins.pug

doctype html
html(lang="en").h-100
  head
    title Software Garden for Business
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include icons.pug
    link(
      rel="manifest"
      href="./manifest.webmanifest"
    )
    meta(
      property="og:title"
      content="Software Garden for Business"
    )
    meta(
      property="og:image"
      content="url:./software-garden-logotype-800.png"
    )
    meta(
      property="og:description"
      content="We will advise you and deliver useful, working software within 6 weeks. After the delivery we will support you in its maintenance and everyday use."
    )
    meta(
      property="og:url"
      content="https://software.garden/for-business"
    )

  body.d-flex.flex-column.h-100
    header
      +navbar("for businesses")

      .container
        .row
          .col-lg-12.p-lg-5
            article.slogan
              p We pride ourselves for #[strong reducing risk] in software development and bringing a #[strong high rate-of-return] to projects we work on.

            div.carousel
              article
                blockquote(cite="https://www.linkedin.com/in/lazurski/details/recommendations/")
                  | I've been working with Tad on
                  | #[strong a range of software development and security trainings].
                  | The labs were creative and fun. I can definitely recommend him
                  | and I'll be #[strong happy to work with him again].
                cite &mdash; Maaike van Putten, (Virtual) Trainer and developer

              article
                blockquote(cite="https://www.linkedin.com/in/lazurski/details/recommendations/")
                  | #[strong In several weeks] Tad and his team were
                  | #[strong able to understand our needs and deliver] the first version of
                  | #[a(href="./lead-studio.pug") Lead Studio]. Great development work!
                cite &mdash; Davy Guijt, Founder at Saleslift Studio

              article
                blockquote(cite="https://www.linkedin.com/in/lazurski/details/recommendations/")
                  | We hired Tad because of his experience in teaching software
                  | development using Elm. Thanks to his coaching we were able to develop
                  | #[strong a working prototype of a new product in just two weeks]
                  | and are now generally #[strong more confident in our code].
                cite &mdash;  Neyts Zupan, Open Source geek & founder, ParetoSecurity.com

              article
                blockquote(cite="https://www.linkedin.com/in/lazurski/details/recommendations/")
                  | Tadeusz is hands down #[strong one of the best JavaScript developers]
                  | I have had a chance to work with. He's a smart person and has
                  | #[strong very strong analytical skills].
                cite &mdash; Wouter de Winter, CTO at Elanza

              article
                blockquote(cite="https://www.linkedin.com/in/lazurski/details/recommendations/")
                  | Tad understands technology well, listens carefully and communicates
                  | very clearly. Many times he helped us
                  | #[strong find pragmatic, simple and elegant solutions].
                  | We are glad to have him as a consultant.
                cite &mdash;  Neyts Zupan, Open Source geek & founder, Niteo



    main.container
      .row
        .col-lg-12#content
          include content.pug

    include footer.pug

    script(src="index.coffee")
    include analytics.pug
