// Following the advice from https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
link( rel="icon" href="./favicon.ico" sizes="any")
link( rel="icon" href="./software-garden-icon.svg" type="image/svg+xml")
link( rel="apple-touch-icon" href="./software-garden-logo-circle-180.png")
