include mixins.pug

doctype html
html(lang="en").h-100
  head
    title Software Garden
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include icons.pug
    link(
      rel="manifest"
      href="./manifest.webmanifest"
    )
    meta(
      property="og:title"
      content="Software Garden"
    )
    meta(
      property="og:image"
      content="url:./software-garden-logotype-800.png"
    )
    meta(
      property="og:description"
      content="Software Garden is an informal community of professionals based in western Europe. Our members offer consulting, coaching and similar services in the area of software development."
    )
    meta(
      property="og:url"
      content="https://software.garden/"
    )

  body.d-flex.flex-column.h-100
    header
      +navbar()

      .container
        .row
          .col-lg-12.p-lg-5
            article.slogan
              p Software Garden is a community of professionals based in western Europe. Our members offer consulting, coaching and similar services in the area of software development.

    main.container.h-100
      .row
        .col-lg-12#content
          ul.inline-list.d-flex.p-0
            li.list-inline-item.w-100.text-center
              h3: a(href="./for-investors.pug") For Investors
            li.list-inline-item.w-100.text-center
              h3: a(href="./for-professionals.pug") For Professionals
            li.list-inline-item.w-100.text-center
              h3: a(href="./for-businesses.pug") For Businesses

    include footer.pug

    script(src="index.coffee")
    include analytics.pug
