doctype html
html(lang="en").h-100
  head
    title Lead Studio Case Study
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include icons.pug
    link(
      rel="manifest"
      href="./manifest.webmanifest"
    )
    meta(
      property="og:title"
      content="Lead Studio Case Study"
    )
    meta(
      property="og:image"
      content="../assets/helloquence-61189-unsplash.jpg"
    )
    meta(
      property="og:description"
      content="Thanks to their partnership with Software Garden, prospecting specialists at Saleslift Studio are now able to enrich leads 20⨉ faster than before."
    )
    meta(
      property="og:url"
      content="/lead-studio.html"
    )

  body.d-flex.flex-column.h-100
    // TODO: Use navbar.pug

    header.container
      .row.align-items-center.p-5
        .col-lg-3.p-5.align-self-start#image
          a(href="/")
            img.img-fluid.rounded-circle.mx-auto.d-block(
              src = "url:./lead-studio-logo.png?width=800"
              style = { "max-height": "8rem" }
            )

        .col-lg-9.p-3
          #heading.mt-5
            h1.text-center.text-lg-left
              | #[small Case Study]
              | #[br] Lead Studio

          .mt-5.lead
            p
              | A software solution to improve prospecting performance, by Software Garden.
            ul.hashtags
              li data engineering
              li process automation
              li web extensions
              li user experience
              li internal tooling
              li LinkedIn Sales Navigator
              li Google Cloud

    main.container
      .row
        .col-lg-12.py-3
          include:markdown-it lead-studio.md

    include footer.pug

    script(src="index.coffee")
    include analytics.pug
