mixin navbar(section)
  nav.container.mt-5#navbar
    input(type="checkbox")#menu-toggle

    .d-flex.align-items-center
      a#logo(href="/" title="Software Garden Home")
        include ./software-garden-logotype.svg

      if section
        .nav-item
          .nav-link / #{section}

    label.icon-open(for="menu-toggle")
      include menu.svg
    label.icon-close(for="menu-toggle")
      include x.svg

    ul#menu.nav.flex-column.flex-md-row
      li.nav-item
        a.nav-link(href="./portfolio.pug")
          | Portfolio
          include icons/eye.svg


      li.nav-item
        a.nav-link(href="./about-us.pug")
          | About Us
          include icons/lamp.svg

      li.nav-item
        a.nav-link(
          title="Schedule a call"
          href="https://calendly.com/software-garden/30min"
        )
          | Schedule a call
          include icons/calendar.svg
