include mixins.pug

doctype html
html(lang="en").h-100
  head
    title Software Garden Portfolio
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include icons.pug
    link(
      rel="manifest"
      href="./manifest.webmanifest"
    )
    meta(
      property="og:title"
      content="Software Garden Portfolio"
    )
    meta(
      property="og:image"
      content="../assets/helloquence-61189-unsplash.jpg"
    )
    meta(
      property="og:description"
      content="Some of the previous projects of Software Garden and our memebers."
    )
    meta(
      property="og:url"
      content="/portfolio.html"
    )

  body.d-flex.flex-column.h-100
    header
      +navbar("portfolio")

      .container
       .row
          .col-lg-12.p-3.p-lg-5.my-5.d-flex.justify-content-center

            p.lead.text-center.narrow
              | Some of the previous projects of
              | #[a(href="https://software.garden") Software Garden] and
              | #[a(href="./about-us.pug") our members],
              | including #[strong commercial] and #[strong free software] /
              | #[strong open source] solutions.

    main.container
      .row
        .col-lg-12
          h2 Featured projects

          p.lead
            | We are a group of #[strong experienced IT professionals] based in
            | Eu&shy;ro&shy;pe (Am&shy;ster&shy;dam, Ut&shy;recht and Bonn).
            | In the past we participated in many commercial and free software
            | / open-source projects. Here are some of them.

        .col-md-6.col-lg-4.d-flex.align-items-stretch.my-2
          .card
            img.card-image-top.p-5(src="./lead-studio-logo.png")
            .card-body.d-flex.flex-column
              h3.card-title Lead Studio

              ul.hashtags
                li data engineering
                li process automation
                li web extensions
                li user experience
                li internal tooling
                li LinkedIn Sales Navigator
                li Google Cloud

              p
                | In 2021, we promised our client,
                | #[a(href="https://salesliftstudio.com/") Saleslift Studio], to deliver a
                | working software solution to improve prospecting performance within
                | a fixed time and at a fixed price. In just 6 weeks (a single
                | development cycle), we provided them with a useful solution -
                | #[a(href="https://leadstudio.salesliftstudio.com/") Lead Studio].
                | Further incremental development enabled them to improve a
                | number of key performance indicators. Thanks to their partnership
                | with #[a(href="https://software.garden/") Software Garden], prospecting
                | specialists at Saleslift Studio are now able to enrich leads 20⨉ faster
                | than before.

              a(href="./lead-studio.pug").card-link.mt-auto Read our case study

        .col-md-6.col-lg-4.d-flex.align-items-stretch.my-2
          .card
            img.card-image-top(src="../assets/md-to-ics-icon.svg")
            .card-body.d-flex.flex-column
              h3.card-title Agile Plan Exporter

              ul.hashtags
                li Agile Planning
                li efficiency
                li happiness at work
                li collaboration
                li free / open source software
                li markdown
                li iCalendar
                li schedule

              p At Software Garden we are obsessed with creating a work environment where we can be efficient and happy at the same time. That's why we practice #[a(href="./agile-planning.pug") agile planning] - a simple and collaborative process where everyone has a chance to catch up with all the latest developments and choose the priorities they will work on. This tool allows us to export our schedule from the flexible and lightweight Markdown document, where we do the planning to the industry standard #[a(href="https://icalendar.org/") iCalendar] format. Now every team member can synchronize their calendar with the rest of the team!


              a(href="https://gitlab.com/software-garden/markdown-to-icalendar-export").card-link.mt-auto Learn how you can use it

        .col-md-6.col-lg-4.d-flex.align-items-stretch.my-2
          .card
            img.card-image-top(src="../assets/elm-springs-logo.png")
            .card-body.d-flex.flex-column
              h3.card-title Elm Springs

              ul.hashtags
                li Elm programming language
                li physics
                li springs
                li animations
                li simulations
                li free / open source software

              p An Elm package implementing a rough model of a physical mass attached to a spring, as described by Hooke's law. Good for making smooth and organic looking animations or modeling oscillating values (for example emotions). High physical accuracy is not a priority - performance and API simplicity is more important.

              a(href="https://package.elm-lang.org/packages/tad-lispy/springs/latest/").card-link.mt-auto See the package

        .col-md-6.col-lg-4.d-flex.align-items-stretch.my-2
          .card
            img.card-image-top(
              src="../assets/digital-software-garden-logo-800-transparent.png"
            )
            .card-body.d-flex.flex-column
              h5.card-title Ethical Software Garden

              ul.hashtags
                li collaboration
                li digital ethics
                li CMS
                li GitLab
                li free / open source software

              p We are curating and cataloguing resources about digital ethics.

              p A similar attitude to values and concerns brought us together as a team. To learned more about digital ethics, we took part in the Offsite Sustainability meetup hosted by Railslove. During the discussion, we all realized that resources about digital ethics are very scattered. This website uses our innovative GitLab CMS, which offers powerful features for users and is easy to maintain for developers. Everyone is welcome to contribute to the discussions there.

              a(href="https://ethical.software.garden/").card-link.mt-auto See the catalogue


        .col-md-6.col-lg-4.d-flex.align-items-stretch.my-2
          .card
            img.card-image-top(src="../assets/elm-tree-workshop.svg")
            .card-body.d-flex.flex-column
              h3.card-title Elm Tree Workshop

              ul.hashtags
                li education
                li functional programming
                li Elm programming language
                li web development
                li anyone can learn programming

              p A workshop that will give you a glimpse into the way software is created. It is intended for people with no prior experience in programming and doesn’t require any technical knowledge. Everybody is welcome! During this 5 days workshop (3 hours each day) you will learn to solve problems using a functional programming language. Together, we will build a program that simulates growth of a tree.

              a(href="https://elm-tree.software.garden/").card-link.mt-auto Visit the website

        .col-md-6.col-lg-4.d-flex.align-items-stretch.my-2
          .card
            img.card-image-top(src="../assets/word-snake-logo.png")
            .card-body.d-flex.flex-column
              h3.card-title Word Snake

              ul.hashtags
                li brainteaser
                li game
                li think-fast
                li education

              p Think fast - guess a password, collect letters and save the snake from a fire trap! In this simple word puzzle game you control a snake while guessing a password. Challenges are designed to let players learn various facts about the world or improve their arithmetic and logical thinking while playing. It's extra fun to play in a group on a phone or a tablet - one player controls the snake while others help to guess the password. It can be a nice family exercise that brings people together.

              a(href="https://word-snake.software.garden/").card-link.mt-auto Play the game

        .col-12
          h2 Coming soon

          ul.hashtags
            li Java
            li security
            li trainings
            li text analysis
            li legal-tech
            li Node.js
            li education
            li TypeScript
            li design patterns
            li OWASP

          ul.list-inline
            li.list-inline-item Java security workshop
            li.list-inline-item Node.js design patterns workshop
            li.list-inline-item Node Damerau-Levenshtein



    include footer.pug

    script(src="index.coffee")
    include analytics.pug
