include mixins.pug

doctype html
html(lang="en").h-100
  head
    title Software Garden
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include icons.pug
    link(
      rel="manifest"
      href="./manifest.webmanifest"
    )
    meta(
      property="og:title"
      content="Software Garden Privacy Policy"
    )
    meta(
      property="og:image"
      content="url:./software-garden-logotype-800.png"
    )
    meta(
      property="og:description"
      content="We want to process as little personal information as possible when you visit the Software Garden website. Learn more from our Privacy Policy."
    )
    meta(
      property="og:url"
      content="https://software.garden/privacy"
    )

  body.d-flex.flex-column.h-100.justify-content-between
    header
      +navbar("privacy policy")

    main.container.my-5
      :markdown-it
        We want to process as little personal information as possible when you visit the Software Garden website. We do not use cookies and comply with the GDPR, ePrivacy (including PECR), COPPA and CCPA. For the purpose of website traffic analytics only your IP address is briefly processed, and we at Software Garden have no way of identifying you. As per the CCPA, your personal information is de-identified. You can read more about this on Fathom Analytics' website.

        The purpose of us using this software is to understand our website traffic in the most privacy-friendly way possible so that we can continually improve our website and business. The lawful basis as per the GDPR is "f); where our legitimate interests are to improve our website and business continually." As per the explanation, no personal data is stored over time.


    include footer.pug

    script(src="index.coffee")
    include analytics.pug
